<!DOCTYPE html>
<html>
	<head>
		<title>Formulario</title>
		<script>
			function startTimestamp() {
				var date = new Date();
				var timestamp = document.getElementById("timestamp");
				timestamp.value = date.getTime() / 1000;
			}
		</script>
	</head>
	<body>
		<form action="/" method="post" id="form">
			Selecciona tu nombre:
			<select name="name" form="form">
				<option value="Christian">Christian</option>
				<option value="Alejandro">Alejandro</option>
			</select>
			<p> Introduce la siquente frase: {{vs.phrase}} </p>
			<p><input type="text" name="usr_phrase" onfocus="startTimestamp()"></p>
			{% if vs.error > 0%}
				<p>Debes introducir el mismo número de palabras (las palabaras están delimitadas por un espacio)</p>
			{%endif%}
			<p><input type="hidden" name="phrase" value="{{vs.phrase}}"></p>
			<p><input type="hidden" name="accent_marks" value="{{vs.accent_marks}}"></p>
			<p><input type="hidden" name="question_marks" value="{{vs.question_marks}}"></p>
			<p><input type="hidden" name="exclamation_marks" value="{{vs.exclamation_marks}}"></p>
			<p><input type="hidden" name="dots" value="{{vs.dots}}"></p>
			<p><input type="hidden" name="commas" value="{{vs.commas}}"></p>
			<p><input type="hidden" name="timestamp" id="timestamp" value=""></p>
		</form>
	</body>
</html>
