<!DOCTYPE html>
<html>
	<head>
		<title>Formulario</title>
		<script>
			var caps_lock = false;
			var time;

			function startTimestamp() {
				var date = new Date();
				var timestamp = document.getElementById("timestamp");
				timestamp.value = date.getTime() / 1000;
			}

			function myKeyPress(e){
				var key = event.keyCode || event.charCode;
				var shift = document.getElementById("shift");
				var del = document.getElementById("del");
				var caps = document.getElementById("caps");
				var date = new Date();
				time = date.getTime();

				if (caps_lock && key != 20) {
					caps.value = 1;
				} else if (e.shiftKey && key != 16) {
					shift.value = 1;
				} else if (key == 8 || key == 46) {
					del.value = 1;
				} else if (key == 20) {
					if (!caps_lock)
						caps_lock = true;
					else {
						caps_lock = false;
					}
				}
  		}

			function myKeyReleased(e) {
				var date = new Date();
				var timestamp = date.getTime();
				var time_by_press = (timestamp - time) / 1000;
				var time_by_press_element = document.getElementById("time");
				var count = document.getElementById("count");
				count.value++;
				time_by_press_element.value = parseFloat(time_by_press_element.value) + parseFloat(time_by_press);
				var a;
			}
		</script>
	</head>
	<body>
		<form action="/" method="post" id="form">
			Selecciona tu nombre:
			<select name="name" form="form">
				<option value="Alejandro">Alejandro</option>
				<option value="Christian">Christian</option>
			</select>
			<p> Introduce la siquente frase: {{vs.phrase}} </p>
			<p><input type="text" name="usr_phrase" onfocus="startTimestamp()" onkeyup="myKeyReleased(event)" onkeydown="myKeyPress(event)"></p>
			{% if vs.error > 0%}
				<p>Debes introducir el mismo número de palabras (las palabaras están delimitadas por un espacio)</p>
			{%endif%}
			<p><input type="hidden" name="phrase" value="{{vs.phrase}}"></p>
			<p><input type="hidden" name="apostrophes" value="{{vs.apostrophes}}"></p>
			<p><input type="hidden" name="question_marks" value="{{vs.question_marks}}"></p>
			<p><input type="hidden" name="exclamation_marks" value="{{vs.exclamation_marks}}"></p>
			<p><input type="hidden" name="dots" value="{{vs.dots}}"></p>
			<p><input type="hidden" name="commas" value="{{vs.commas}}"></p>
			<p><input type="hidden" name="timestamp" id="timestamp" value=""></p>
			<p><input type="hidden" name="shift" id="shift" value="{{vs.shift}}"></p>
			<p><input type="hidden" name="del" id="del" value="{{vs.del}}"></p>
			<p><input type="hidden" name="caps" id="caps" value="{{vs.caps}}"></p>
			<p><input type="hidden" name="time" id="time" value="{{vs.time}}"></p>
			<p><input type="hidden" name="count" id="count" value="{{vs.count}}"></p>
		</form>
	</body>
</html>
